.gr_video_example {
  border: 0.5rem solid $videoExample;
  padding: 60px 160px;
}

.gr_icon_example {
  color: $iconExample;
}

.gr_mini_video {
  border: 2px solid $iconExample;
  padding: 1rem 1.2rem;
}
