// General
$bg: var(--bg);
$bgClear: var(--bgClear);
$bgDark: var(--bgDark);

// Navbar
$navTitle: var(--navTitle);
$navItem: var(--navItem);
$navItemHover: var(--navItemHover);

// Drawer
$bgDrawer: var(--bgDrawer);
$menuDrawer: var(--menuDrawer);
$closeDrawer: var(--closeDrawer);
$titleDrawer: var(--titleDrawer);
$itemsDrawer: var(--itemsDrawer);
$ctContainerDrawer: var(--ctContainerDrawer);
$ctTextDrawer: var(--ctTextDrawer);
$logoutContainerDrawer: var(--logoutContainerDrawer);
$logoutTextDrawer: var(--logoutTextDrawer);

// Options
$optionColor: var(--optionColor);
$boxOne: var(--boxOne);
$boxTwo: var(--boxTwo);

// Loading
$colorBarOne: var(--colorBarOne);
$colorBarTwo: var(--colorBarTwo);
$barColorBg: var(--barColorBg);

// Dashboard
$welcomeTitle: var(--welcomeTitle);
$youHaveAddedContainer: var(--youHaveAddedContainer);
$youHaveAddedText: var(--youHaveAddedText);
$borderColorChoice: var(--borderColorChoice);
$iconChoiceColor: var(--iconChoiceColor);
$textChoice: var(--textChoice);

// Add Song
$addSongTitle: var(--addSongTitle);
$songTitleLabel: var(--songTitleLabel);
$inputSelected: var(--inputSelected);
$inputBottomLine: var(--inputBottomLine);
$borderTextArea: var(--borderTextArea);
$bgAddSongBtn: var(--bgAddSongBtn);
$textAddSong: var(--textAddSong);
$addSongBtnHover: var(--addSongBtnHover);

// Songs List
$songsListTitle: var(--songsListTitle);
$songName: var(--songName);
$songAction: var(--songAction);
$songBox: var(--songBox);
$songTopLine: var(--songTopLine);
$songsSelectedBtn: var(--songsSelectedBtn);
$iconSongsSelected: var(--iconSongsSelected);
$numberSongsSelected: var(--numberSongsSelected);
$songsSelectedBtnHover: var(--songsSelectedBtnHover);

//Custom List
$listContainer: var(--listContainer);
$customTitle: var(--customTitle);
$dividerColor: var(--dividerColor);
$btnColor: var(--btnColor);
$bgBtnPlayList: var(--bgBtnPlayList);
$colorTextBtn: var(--colorTextBtn);
$bgBtnPlayListHover: var(--bgBtnPlayListHover);
$division: var(--division);
// Custom List - Temporal title TextField
$textFieldColor: var(--textFieldColor);
$textFieldOne: var(--textFieldOne);
$textFieldTwo: var(--textFieldTwo);
// Custom List - Modal
$modalBox: var(--modalBox);
$closeModal: var(--closeModal);
$modalText: var(--modalText);
$modalBoxBorder: var(--modalBoxBorder);
$modalBoxIcon: var(--modalBoxIcon);

// Random Songs with BPM
$songInfoBox: var(--songInfoBox);
$bpmTextColor: var(--bpmTextColor);
$bpmBar: var(--bpmBar);
$bpmBarHover: var(--bpmBarHover);
$grInfoText: var(--grInfoText);
$videoExample: var(--videoExample);
$iconExample: var(--iconExample);
// BPM Inputs
$bpmInputColor: var(--bpmInputColor);
$bpmInputSelected: var(--bpmInputSelected);
$bpmInputHover: var(--bpmInputHover);

// Videos
